python 3.6 or higher

import math
import random
import time
import pickle
import keras
import numpy as np
from sklearn.ensemble import RandomForestClassifier

import sc2
import sc2.units
import sc2.game_info